<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77be74">  <td>21/01/27 10:58:12</td>   <td>0</td> <td title="&gt;&gt;GRIDConfig.beforeSuite()[pri:0, instance:utils.GRIDConfig@7219ec67]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1205406622</td>   <td></td> </tr>
<tr bgcolor="77be74">  <td>21/01/27 10:58:13</td>   <td>79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GRIDConfig.firstTest()[pri:0, instance:utils.GRIDConfig@7219ec67]">firstTest</td> 
  <td>main@1205406622</td>   <td></td> </tr>
<tr bgcolor="77be74">  <td>21/01/27 10:58:13</td>   <td>222</td> <td title="&lt;&lt;GRIDConfig.afterSuite()[pri:0, instance:utils.GRIDConfig@7219ec67]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1205406622</td>   <td></td> </tr>
</table>
