<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6cff7a">  <td>21/01/27 11:10:44</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:test.TestClass1@1534f01b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@118394766</td>   <td></td> </tr>
<tr bgcolor="6cff7a">  <td>21/01/27 11:10:44</td>   <td>123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupBrower(java.lang.String)[pri:0, instance:test.TestClass1@56de5251]">&gt;&gt;setupBrower</td> 
<td>&nbsp;</td>  <td>TestNG-test=chromeTest-1@735442102</td>   <td></td> </tr>
<tr bgcolor="6cff7a">  <td>21/01/27 11:10:44</td>   <td>123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupBrower(java.lang.String)[pri:0, instance:test.TestClass1@1534f01b]">&gt;&gt;setupBrower</td> 
<td>&nbsp;</td>  <td>TestNG-test=firefoxTest-1@1431884234</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/01/27 11:11:10</td>   <td>26344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.firstTest()[pri:0, instance:test.TestClass1@56de5251]">firstTest</td> 
  <td>TestNG-test=chromeTest-1@735442102</td>   <td></td> </tr>
<tr bgcolor="6cff7a">  <td>21/01/27 11:11:11</td>   <td>26797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeBrower()[pri:0, instance:test.TestClass1@56de5251]">&lt;&lt;closeBrower</td> 
<td>&nbsp;</td>  <td>TestNG-test=chromeTest-1@735442102</td>   <td></td> </tr>
<tr bgcolor="658a60">  <td>21/01/27 11:11:49</td>   <td>65054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.firstTest()[pri:0, instance:test.TestClass1@1534f01b]">firstTest</td> 
  <td>TestNG-test=firefoxTest-1@1431884234</td>   <td></td> </tr>
<tr bgcolor="6cff7a">  <td>21/01/27 11:11:50</td>   <td>65923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeBrower()[pri:0, instance:test.TestClass1@1534f01b]">&lt;&lt;closeBrower</td> 
<td>&nbsp;</td>  <td>TestNG-test=firefoxTest-1@1431884234</td>   <td></td> </tr>
<tr bgcolor="6cff7a">  <td>21/01/27 11:11:56</td>   <td>72130</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:test.TestClass1@1534f01b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@118394766</td>   <td></td> </tr>
</table>
